

.flash-success {
  background-color: blue;
  width: 100%;
  height: 40px;
  display: none;
};

.flash-info {
  background-color: grey;
  width: 100%;
  height: 40px;
  display: none;
}

.flash-failure {
  background-color: red;
  width: 100%;
  height: 40px;
  display: none;
}
